.button {
  padding: 5px 10px;
  font-size: 1.3rem;
  background-color: #8d9487;
  color: #1e555c;
  border-radius: 4px;
  border: 4px solid #1e555c;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
}

.button:hover {
  background-color: #0a0908;
  border-color: #c9e4ca;
  color: #c9e4ca;
  transition: 0.3s;
}

.button:disabled,
.button:disabled:hover {
  background-color: #8d9487;
  color: #1e555c;
  border-color: #8d9487;
}

.normal {
  width: 150px;
}

.small {
  width: auto;
}

.big {
  width: 220px;
}

.button.circle {
  padding: 15px;
  border-radius: 50%;
}
