.container {
	background-color: white;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	display: grid;
	grid-template-rows: 100px auto 1fr;
}

@media screen and (max-width: 992px) {
	.container {
		grid-template-rows: 150px auto 1fr;
	}
}

@media screen and (max-width: 576px) {
	.container {
		grid-template-rows: auto auto 1fr;
	}
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Lilita One', cursive; */
