.container {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 100px auto 100px;
}
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Lilita One', cursive; */