.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.loginButtons {
    margin: 15px 0;
}

.switch {
    font-size: 1.4rem;
    display: inline-flex;
    align-items: center; 
    margin: 15px 0;
}

.title {
   margin-left: 5px;
}

.title:hover {
    color: #ff7c7c;
    cursor: pointer;
}