.selectContainer {
    position: relative;
}

.select {
    height: 55px;
    width: calc(100% - 15px);
    border: 4px solid #ff7c7c;
    background: transparent;
    z-index: 2;
    padding-left: 15px;
    font-size: 1.6rem;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    white-space: nowrap; 
    cursor: pointer;
}

.option {
    width: 70px;
    height: 55px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.menu {
    position: absolute;
    
    top: 55px;
}

.show{
    display: block;
}

.hide {
    display: none;
}