.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 25px;
  font-size: 1.6rem;
  color: #21243d;
  border: 3px solid #ff7c7c;
  /* box-shadow: 0 1px 4px 1px #ff7c7c; */
  margin-bottom: 15px;
  border-radius: 4px;
  position: relative;
}

.component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  position: absolute;
  right: -12px;
  top: -12px;
}
