.video {
  width: 100vw;
  max-height: 100vh;
}

.videoContainer { 
  background: black;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

