.formContainer {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formContent {
    font-size: 1.6rem;
    border-radius: 4px;
    padding: 25px; 
    min-height: 500px;
    color: #21243d;
    max-width: 1200px;
    width: 100%;
}

.checkboxes {
    margin: 8.5px 0;
    display: flex;
    flex-direction: column;
    border: 4px solid #ff7c7c;
}

.titleDescriptionContainer {
    text-align: center;
}
.titleDescriptionContainer h1, .titleDescriptionContainer h2 {
    margin-bottom: 10px;
}

.linkArea {
    border: 4px solid #ff7c7c;
    margin: 25px 0;
    padding: 25px 5px;
}

.linkTitle {
    margin: 10px 0
}
.link {
    text-decoration: none;
    color: #88e1f2;
}
